.containerAmount{
    background-color: #FF4646;
    display: flex;
    justify-content: center;
    color: #fff;
}

.amountWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1366px;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

.containerAmountBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.containerAmountBody span:first-child{
    font-size: 48px;
    font-weight: 600;
}

.containerAmountBody span:last-child{
    font-size: 21px;
    font-weight: 200;
}

@media(max-width:393px) {
   
}