.containertCategories{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.wrapCategories{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.categoriesHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* background-image: url("/backgroundAbout.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 46px;
    font-weight: 500;
   
}

.categoriesItems{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230.4px;
    height: 230px;
    background-image: url("/backgroundAbout.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

.textCategoriesHeader{
    color: #fff;
    font-size: 26px;
    font-weight: 500;
}

.categoriessubText{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

