.comtainerEathome{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
   
}

.eathomeWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1366px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.rightHeader{
    display: flex;
    height: 700px;
    align-items: flex-end;
    
}



.centerRightEat{
    display: flex;
    flex-direction: column;

}

.textRightEat{
    font-size: 60px;
    width: 600px;
    color:#30475E;
    font-weight: 700;
    text-align: left;

}

.containerP{
    color:#30475E;
    width: 500px;
    margin-bottom: 50px;
}

.buttomHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #FF4646;
    cursor: pointer;
    font-weight: 500;
    width: 200px;
}

.buttomHeader:hover{
    background-color: #e13b3b;
}

.containerLeftsocial{
    background-color: #e13b3b;
    width: 80px;
    height: 338px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    color: #fff;
}

.socialContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 380px;
}

.followus{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.clickSocial{
    cursor: pointer;
}

.topsmallText{
    color: #e13b3b;
    font-size: 16px;
    font-weight: 600;
}

@media(max-width:1365px) {
    .eathomeWrapper{
        padding-left: 5%;
        padding-right: 5%;
    }

    .imageheader{
        width: 50%
    }
    .rightEat{
        width: 50%
    }

    .textRightEat{
        font-size: 50px;
    }
    .topsmallText{
        width: 300px;
    }
}

@media(max-width:958px) {

    .imageheader{
        width: 40%
    }
    .rightEat{
        width: 40%
    }

    .textRightEat{
        font-size: 40px;
    }
    .containerP{
        font-size: 12px;
    }
}

@media(max-width:821px
) {

    .imageheader{
        width: 40%
    }
    .rightEat{
        width: 40%
    }

    .textRightEat{
        font-size: 40px;
    }
    .containerP{
        font-size: 12px;
    }

    .imageheader{
       display: none;
    }
}

@media(max-width:632px
) {
    
    .rightEat{
        width: 30%
    }

    .textRightEat{
        font-size: 30px;
        width: 300px;
    }
    .containerP{
        font-size: 12px;
        width: 300px;
    }

    
}

@media(max-width:393px) {
    
    .rightEat{
        width: 30%
    }

    .textRightEat{
        font-size: 30px;
        width: 300px;
    }
    .containerP{
        font-size: 12px;
        width: 300px;
    }

    
}