.containerFooter{
    display: flex;
    justify-content: center;
    background-color: white;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1366px;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
.containerFooter div{
    color: #30475E;
}

.link{
   cursor: pointer;
}


@media(max-width:446px) {
    .footerWrapper{
        padding-left: 20px;
        padding-right: 20px;
    }
    .link{
      width: 80px;
    }
    .textFooter{
     font-size: 12px;
    }
  }