.containerHeader{
    display: flex;
    align-items: center;
    /* background-image: url("/backgroundImag.png"); */
    background-repeat: no-repeat;
    justify-content: center;
}
.headerWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1366px;
    justify-content: space-between;
    align-items: center;
}
.rightHeader{
    display: flex;
    height: 700px;
    align-items: flex-end;
    
}

.containerHeader:last-child{
   
}



.centerRightHeader{
    display: flex;
    flex-direction: column;

}

.textRightHeader{
    font-size: 60px;
    width: 400px;
    color:#30475E;
    font-weight: 700;
    text-align: left;

}

.containerP{
    color:#30475E;
    width: 500px;
}

.buttomHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #FF4646;
    cursor: pointer;
    font-weight: 500;
    width: 200px;
}

.buttomHeader:hover{
    background-color: #e13b3b;
}

.containerLeftsocial{
    background-color: #e13b3b;
    width: 80px;
    height: 338px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    color: #fff;
}

.socialContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 380px;
}

.followus{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.clickSocial{
    cursor: pointer;
}

@media(max-width:1030px) {
    .rightHeader{
        display: none !important;
    }
    .headerWrapper{

        padding-bottom: 30px;
    }
}

@media(max-width:993px) {
    .textRightHeader{
        font-size: 50px;
    }
    .containerP{
        width: auto;
    }
}

@media(max-width:895px) {
    .centernerCenter{
        width: auto;
    }
    .textRightHeader{
        font-size: 40px;
    }

    .imageheader{
    width: 50%;
}
}

@media(max-width:820px) {
    .headerWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageheader{
        width: 30%;
        margin-top: 20px;
    }
    
    .mobilContainer{
        background-color: #fff;
    }

    .textRightHeader{
        font-size: 30px;
        text-align: center;
    }

    .containerP{
        text-align: center;
        
    }

    .linkButtom{
        display: flex;
        justify-content: center;
    }
}


@media(max-width:375px) {
    
    .linkButtom{
        display: flex;
        justify-content: center;
    }
}