.ordercontainer{
    padding: 20px;
    width: 100%;
    height: 100%;
}

.itemContainer{
    margin: 0 20px ;
    width: 100%;
}
.OrderItem{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 10px;
}
.containerdetails{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top:10px;
    justify-content: space-between;
}


.containerSubdetails{
    margin-bottom: 15px;
    margin-left: 20px;
    
}

.containerSubdetailsEnd{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 20px;
    align-items: flex-end;
   
}
.containerid{
    display:flex;
}

.containerp{
    margin-right: 5px;
}
/*  */
.containerFood{
    margin-right: 5px;
    background-color: #FF4646;
    color: white;
    border-radius:5px;
    padding: 0 5px;
}

.containerAdmin{
    margin-right: 5px;
    background-color: #30475E;
    color: white;
    border-radius:5px;
    padding: 0 5px;
}

.containerdeliverid{
    margin-right: 5px;
    display: flex;
    background-color: #30475E;
    width: 70px;
    color: white;
    border-radius: 5px;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
   
}

.Containerrenewid{
    margin-right: 5px;
    display: flex;
    background-color: #30475E;
    width: 130px;
    color: white;
    border-radius: 1px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerpaidByid{
    display: flex;
    margin-right: 5px;
    background-color: rgb(7, 17, 24);
    color: white;
    border-radius:5px;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
}
/*  */

.foodid{
    background-color: #FF4646;
    color: white;
    border-radius:5px;
    padding: 0 5px;
}

.adminid{
    background-color: #30475E;
    color: white;
    border-radius:5px;
    padding: 0 5px;
}

.deliverid{
    display: flex;
    background-color: #30475E;
    width: 70px;
    color: white;
    border-radius: 5px;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
   
}

.renewid{
    display: flex;
    background-color: #30475E;
    width: 130px;
    color: white;
    border-radius: 1px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paidByid{
    display: flex;
    background-color: rgb(7, 17, 24);
    color: white;
    border-radius:5px;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
}

.renewid:hover{
   background-color: rgb(0, 140, 255);
}

.imgContainer{
    width: 150px;
    height: auto;
    border-radius:5px;
}

.inputContainer{
    display: flex;
    padding: 20px;
    /* margin-left: 10px; */
    justify-content: space-between;
    align-items: center;
}

.inputProp{
    width: 310px;
    padding: 10px;
    margin-right: 10px;
}

.inputProp:focus{
    outline: none;
}

.inputFilter{
    width: 200px;
    padding: 10px;

    
}
.componentFilter{
    width: 150px;
}
@media(max-width:1149px) {
    .inputFilter{
        margin-right: 10px;
       
    }

}

@media(max-width:471px) {
    .imgContainer{
        width: 100%;
        height: auto;
        border-radius:5px;
        margin-bottom: 10px;
        
    }

    .inputContainer{
      margin-top: 20px;
    }
    .containerdetails{
       display: block;
       flex-wrap: wrap;
    }

    .inputFilter{
        margin-right: 10px; 
        cursor: pointer;
    }

    .inputProp{
        width: 250px;
        padding: 10px;
        margin-right: 10px;
        font-size: 14px;
    }
}