.comtainerEathome{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.eathWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1366px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.rightHeader{
    display: flex;
    height: 700px;
    align-items: flex-end;
    
}


.centerRightEat{
    display: flex;
    flex-direction: column;

}

.textRightEat{
    font-size: 60px;
    width: 600px;
    color:#30475E;
    font-weight: 700;
    text-align: left;

}

.containerP{
    color:#30475E;
    width: 500px;
    margin-bottom: 50px;
}

.buttomHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #FF4646;
    cursor: pointer;
    font-weight: 500;
    width: 200px;
}

.buttomHeader:hover{
    background-color: #e13b3b;
}

.containerLeftsocial{
    background-color: #e13b3b;
    width: 80px;
    height: 338px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    color: #fff;
}

.socialContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 380px;
}

.followus{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.clickSocial{
    cursor: pointer;
}

.topsmallText{
    color: #e13b3b;
    font-size: 16px;
    font-weight: 600;
}

@media(max-width:1366px) {
    
    .eathWrapper{
        align-items: center;
        justify-content: center;
    }

    .imageheader{
        width: 60%;
    }

    .centerRightEat span{
        font-size: 40px;
    }

    .centerRightEat p {
        font-size: 12px;
    }
}

@media(max-width:613px) {
    
    .eathWrapper{
        align-items: center;
        justify-content: center;
    }

    .imageheader{
        width: 60%;
    }

    .centerRightEat span{
        font-size: 30px;
    }

    .centerRightEat p {
        font-size: 12px;
    }

    .containerText{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        
    }

    .centerRightEat span{
        width: 500px;
        text-align: center;
    }

    .comtainerEathome{
        margin-top: 20px;
    }
}


@media(max-width:516px) {

    .imageheader{
        width: 60%;
    }

    .centerRightEat span{
        font-size: 30px;
    }

    .centerRightEat p {
        font-size: 12px;
        width: 300px;
    }

    .containerText{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        
    }

    .centerRightEat span{
        width: 500px;
        text-align: center;
    }

    .comtainerEathome{
        margin-top: 20px;
    }

    .containerP{
        width: 350px;
    }
}


@media(max-width:516px) {

    .centerRightEat span{
        font-size: 20px;
    }

    .imageheader{
        width: 40%;
    }

    .containerP{
        font-size: 10px;
        width: 300px;
    }
    .centerRightEat span{
        width: 300px;
    }
}